#root {
    display: flex;
}

.notifications {
    position: fixed;
    top: .5em;
    right: 1em;
    font-size: 200%;
    color: white;
}

.notifications:hover {
    filter: drop-shadow(0px 0px 5px #fff);
  }
  
.sidebar-container {
    display: flex;
    flex-direction: column;
    flex-basis: 10%;
    background: #202020;
    height: 100vh;
}

.logo {
    display: flex;
    text-align: center;
    flex-basis: 20%;
    align-items: center;
    justify-content: center;
}

.side-menu {
    display: flex;
    flex-basis: 70%;
    align-items: stretch;
    white-space: nowrap;
    justify-items: stretch;
    padding: 0;
}

.side-menu ul {
    padding: 0;
}

.socials {
    display: flex;
    flex-basis: 10%;
    font-size: 2em;
    text-align: center;
    flex-direction: row;
    white-space: nowrap;
    justify-content: center;
    align-items: flex-end;
}

.socials ul {
    padding: 0;
}

.socials li {
    display: inline;
}

.socials li:hover {
    filter: drop-shadow(0px 0px 5px #fff);
}

.side-menu ul li {
    padding: 1em;
}

.icon {
    font-size: 2em;
    align-items: baseline;
}

.text {
    font-size: 1.3em;
    padding-left: 1em;
    text-align: left;
}

.dashboard-container {
    display: flex;
    flex-direction: row;
    flex-basis: 90%;
    height: 100vh;
    background: #242424;
}

.dashboard-content {
    color: #fff;
}